<!--this file is for the header and logout button that will be present on (almost) every page-->
<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="header.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="generalFunctions.js"></script>
    <script src="header.js"></script>
</head>
<body>
    <div id="page-header" class="page-header">
        <a href="/">
            <img class="roc-logo" src="/images/roc_logo.png" alt="logo">
        </a>
    </div>
    <div class="spacer"></div>