<%include views/header.html%>
<head>
  <script src="login.js"></script>
  <link rel="stylesheet" href="login.css"></link>
  <title>Login</title>
</head>

  <body>
    <div class="form-container">
    <form id="login-form" action="">
      <div class="container">
        <label for="lblUsername"><b>Username</b></label>
        <input type="text" placeholder="Username" name="username" required />

        <label for="lblPassword"><b>Password</b></label>
        <input id="password" type="password" placeholder="Password" name="password" required/>
      </div>      
    </form>
    <button type="submit" onclick="submit()">Login</button>
          <div class="container">
            <span class="psw"><a href="#">Forgot password?</a></span>
          </div>
  </div>
  </body>
</html>
