<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Overzicht van projecten</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="generalFunctions.js"></script>
    <script src="manager-projects.js"></script>
</head>
<body>
    <table id="project-overview">
        <tr>
            <th>Project naam</th>
            <th>Status</th>
            <th>Start datum</th>
            <th>Eind datum</th>
            <th>Vertraging</th>
            <th>Bescrijving</th>
        </tr>
    </table>
    <a href="/add-project">Project toevoegen</a>
</body>
</html>