<%include views/header.html%>
<head>
    <link rel="stylesheet" href="manager-overview.css">
    <script src="manager-overview.js"></script>
    <title>Manager index</title>
</head>
<body>
    <div id="buttonWrapper">
        <a class="menu-button" href="/manager-projects">Projecten</a>
        <a class="menu-button" href="/manager-teams">Teams</a>
    </div>
    <table id="request-overview">
        <tr>
            <th>project naam</th>
            <th>Leden</th>
            <th>Huidige Status</th>
            <th>Aangevraagde Status</th>
            <th>Omschrijving</th>
        </tr>
    </table>
</body>
</html>