<%include views/header.html%>
<head>
    <script src="manager-edit-project.js"></script>
    <title>Team toevoegen</title>
</head>
<body>
<form id="edit-project-form">
    <p>Projectnaam </p><input type="text" name="projectName" value="">
    <p>Team</p>
    <select name="teamList" id="teamList">
        <option value="">Kies een team</option>
    </select>
    <p>Status</p>
    <select name="status" id="statuslist">
        <option value="0">Not yet launched</option>
        <option value="1">Team assigned</option>
        <option value="2">Questioning</option>
        <option value="3">Go ahead</option>
        <option value="4">Development</option>
        <option value="5">Testing</option>
        <option value="6">Crashed</option>
        <option value="7">Completed</option>
    </select>
    <p>Begin datum</p><input id="startDate" type="date">
    <p>Eind datum</p><input id="endDate" type="date">
    <p>Bescrijving</p><textarea id="description" cols="30" rows="10" style="resize: vertical;"></textarea>
</form>
<button onclick="submit();">Verzenden</button>
</body>
</html>