<%include views/header.html%>
<head>
    <script src="manager-add-project.js"></script>
    <title>Project toevoegen</title>
</head>
<body>
    <form id="add-project-form">
        <p>Project Naam</p><input id="projectName" type="text">
        <p>Begin datum</p><input id="startDate" type="text">
        <p>Eind datum</p><input id="endDate" type="text">
        <p>Bescrijving</p><textarea id="description" cols="30" rows="10" style="resize: vertical;"></textarea>
    </form>
    <button onclick="submit();">Toevoegen</button>
</body>
</html>