<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Overzicht van teams</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="generalFunctions.js"></script>
    <script src="manager-teams.js"></script>
</head>
<body>
<table id="team-overview">
    <tr>
        <th>Team naam</th>
        <th>Wachtwoord</th>
        <th>Leden</th>
    </tr>
</table>
<a href="/add-team">Team toevoegen</a>
</body>
</html>