<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Een team toevoegen</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="generalFunctions.js"></script>
    <script src="team-add-task.js"></script>
</head>
<body>
<form id="add-task-form">
    <p>Taak Naam</p><input id="task" type="text">
    <p>Omschrijving</p><input id="description" type="text">
</form>
<button onclick="submit();">Toevoegen</button>
</body>
</html>