body {
  /* background-color: rgb(255, 255, 255); */
  background-image: url("images/background-image.jpeg");
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* input fields */
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* button */
button {
  background-color: var(--dark-blue);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}

label, input {
  color: var(--dark-blue);
}

/* container */
.container {
  padding: 16px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.603);
}

span.psw {
  float: right;
  padding-top: 16px;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  text-align: center;
}

/* reposition header */
.page-header {
  width: 25vw;
  height: 100vh;
  right: 0;
  left: auto;
  border-bottom-right-radius: 0;
  border-top-left-radius: 60px;
}

.page-header .roc-logo {
  width: 75%;
  height: 12%;
  margin: 12%;
}