/*Main style for all pages*/

.header {
    width: 100vw;
    background-color: #666;
    height: 50px;
}

.menu-button {
    display: block;
    background-color: #888;
    border: solid black 2px;
    color: black;
    text-decoration: none;
    margin: 5px;
    width: 250px;
    height: 50px;
}