/*Main style for all pages*/
:root {
    --dark-blue: #123885;
}

html {
    background-color: #a2c0f2;
    overflow-x: hidden;
}

.menu-button {
    display: block;
    background-color: var(--dark-blue);
    border: solid white 2px;
    color: white;
    text-decoration: none;
    width: 250px;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    margin: 15px auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}